pipeline/oscar_data_sync_pipeline.json
{
	"name": "oscar_data_sync_pipeline",
	"properties": {
		"activities": [
			{
				"name": "List all crew code",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"sink": {
						"type": "RestSink",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": 10,
						"requestMethod": "POST",
						"writeBatchSize": 10000,
						"httpCompressionType": "none",
						"storeSettings": {
							"type": "AzureFileStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"filePattern": "arrayOfObjects"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "TEST_AllCrewRestResource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AllCrewJson",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Crew Loop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "All crew look up",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('All crew look up').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Get crew detail",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{concat('https://sbmstaging.compas.cloud/CompasAPI/v2/CompasRestService.svc/crew/details/', item())}"
								},
								{
									"name": "Destination",
									"value": "crew"
								}
							],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET"
								},
								"sink": {
									"type": "CosmosDbSqlApiSink",
									"writeBehavior": "upsert",
									"disableMetricsCollection": true
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "CrewDetailRestResource",
									"type": "DatasetReference",
									"parameters": {
										"crewid": {
											"value": "@item().Code",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "CosmosDbSqlApiCrewRawCollection",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Get crew compliance",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"additionalColumns": [
										{
											"name": "crewId",
											"value": {
												"value": "@item().Code",
												"type": "Expression"
											}
										}
									],
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET"
								},
								"sink": {
									"type": "CosmosDbSqlApiSink",
									"writeBehavior": "upsert",
									"disableMetricsCollection": true
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "CrewComplianceRestResource",
									"type": "DatasetReference",
									"parameters": {
										"crew_code": "@item().Code"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "CosmosDbSqlApiComplianceRawCollection",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Crew Data Flow",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "Get crew detail",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "crew_dataflow",
									"type": "DataFlowReference"
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "Compliance Dataflow",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "Get crew compliance",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "compliance_dataflow",
									"type": "DataFlowReference"
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			},
			{
				"name": "All crew look up",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "List all crew code",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureFileStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "AllCrewJson",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-03-24T12:22:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}